body {
    background-color: black;
    color: white;
}

td {
    padding-top: .1em;
    padding-bottom: .1em;
}

.header-titles {
    border-bottom: 1px solid;
    color: crimson;
    width: 66%;
    padding: 5px;
}

.features {
    background-color: maroon;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.feature-box {
    padding: 2px 15px 2px 15px;
    margin: 0px;
}

.feature-icon {
    width: 35px;
    height: 35px;
    padding: 10px;
    background-color: black;
}

.feature-list {
    padding: 8px;
    background-color: crimson;
    width: 250%;
}

.player-box {
    padding: 15px;
}

.ability-title {
    color: crimson;
}
