body {
    background-color: black;
    color: white;
    height: 100%;
}

td {
    padding-top: .1em;
    padding-bottom: .1em;
    height: 100%;
}

a {
    color: crimson;
}

a:hover {
    color: orange;
}

.title-image {
    margin-bottom: -8vh;
}

.screenshots {
    background-color: maroon;

    padding-top: 15px;
}

.header-titles {
    border-bottom: 1px solid;
    color: crimson;
    width: 66%;
    padding: 5px;
}

.features-cell {
    width: 100%;
}

.features {
    background-color: maroon;
    padding: 15px;
    margin-bottom: 15px;
}

.feature-box {
    padding: 2px 15px 2px 15px;
    margin: 0px;
}

.feature-icon {
    width: 35px;
    height: 35px;
    padding: 10px;
    background-color: black;
}

.feature-list {
    padding: 8px;
    background-color: crimson;

    height: 100%;
    width: 100%;
}

.player-box {
    padding: 15px;
}

.ability-title {
    color: crimson;
}

.alert-show {
    position: fixed;
    top: 0px;
    z-index:9999;

    width: 100%;
}

.control-table {
    padding-left: 15px;
    width: 100%;
}

.control-header {
    color: red;
    text-align: center;
}

.control-action-container {
    width: 40%;
}

.control-action {
    text-align: right;
    padding-right: 10px;
}

.control-keys {
    background-color: red;
    text-align: center;

    padding: 10px;
}

.credit-image {
    height: 150px;
    width: 150px;
}
